/*--------------------------------------------------------------
# Forum
--------------------------------------------------------------*/
.forum{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background: url(forums.jpg);
    background-size: cover;
}

.forum .content_forum{
    max-width: 1600px;
    text-align: left;
    padding-top: 70px;
}

.forum .content_forum h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}


.box_forum{
	padding: 20px;
	text-align: left;
	border-radius: 5px;
	background: #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
	margin: 10px;
}

.box_forum img{
	height: 70px;
}

.box_forum h3{
	color: #444;
	padding: 10px 0;
	font-size: 20px;
}

.box_forum h3:hover{
    color: #FF7361;
}

.box_forum p{
	color: #777;
	font-size: 14px;
	line-height: 1.6;
}

textarea
{
    height: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #aaa;
    background-color: transparent;
    margin-bottom: 10px;
    resize: none;
    outline: none;
    transition: .5s
}

input[type="submit"], button
{
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
input[type="submit"]
{
    color: #fff;
    background-color: #273c75
}
button
{
    color: #333;
    background-color: transparent
}
.btn
{
    display: none
}

.button_forum{
	color: #fff;
	border: none;
	outline: none;
	font-size: 17px;
	margin-top: 10px;
	padding: 8px 15px;
	background: #333;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	float: right;
	margin: 10px;
}

.button_forum:hover{
	letter-spacing: 1px;
}

.button_forum:hover{
	transform: scale(1.03);
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

@media (maz-width: 770px){
	.content{
		padding: 20px;
	}
}


.NewForumForm{
    width: 100%;
    padding: 40px;
    background: #fff;
}

.NewForumForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.NewForumForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.NewForumForm .inputBox input, 
.NewForumForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.NewForumForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.NewForumForm .inputBox input:focus ~span,
.NewForumForm .inputBox input:valid ~span,
.NewForumForm .inputBox textarea:focus ~span,
.NewForumForm .inputBox textarea:valid ~span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.NewForumForm .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
.form-description23993 {
    margin-right: 106px;
    color: #e91e63;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    float: left;
}

.button-group-addfile3239 {
    margin-top: 20px;
}

.button_forum1{
	color: #fff;
	border: none;
	outline: none;
	font-size: 17px;
	margin-top: 10px;
	padding: 8px 15px;
	background: #67F336;
	border-radius: 5px;
	display: inline-block;
	text-decoration: none;
	float: left;
	margin: 10px;
}

.button_forum1:hover{
	letter-spacing: 1px;
}

.button_forum1:hover{
	transform: scale(1.03);
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

@media (maz-width: 770px){
	.content{
		padding: 20px;
	}
}
