@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
}

body {
    background: #edf0f1;
}

/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/

#quiz {
    background-color: white;
    padding-top: 100px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    display: none;

}

/*#quiz .content {
    width: auto;
    height: auto;
    background-color: rgb(185, 255, 252);
    border-radius: 30px;
    text-align: center;
}

#quiz .content1 {
    width: auto;
    height: auto;
    margin-top: 50px;
    background-color: rgb(185, 255, 252);
    border-radius: 30px;
    text-align: center;
}

#quiz .content .question {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#quiz .content1 .question {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

#quiz .content .answer {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}

#quiz .content1 .answer {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
}*/

#quiz .submit {
    padding: 20px;
    text-align: center;
}

#quiz .submit .btn_submit {
    transition: 0.5s;
    width: 200px;
    height: 50px;
    background-color: #0286a7;
    color: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    border-color: white;
}

#quiz .submit .btn_submit:hover {
    background-color: aqua;
}

#quiz .wrapper1 {
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper1 .question {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.wrapper1 .option {
    background: #fff;
    height: 50%;
    width: 60%;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    margin-left: 120px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper1 .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.wrapper1 .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.wrapper1 input[type="radio"] {
    display: none;
}

.wrapper1 #option-1:checked:checked~.option-1,
.wrapper1 #option-2:checked:checked~.option-2,
.wrapper1 #option-3:checked:checked~.option-3,
.wrapper1 #option-4:checked:checked~.option-4 {
    border-color: #0069d9;
    background: #0069d9;
}

.wrapper1 #option-1:checked:checked~.option-1 .dot,
.wrapper1 #option-2:checked:checked~.option-2 .dot,
.wrapper1 #option-3:checked:checked~.option-3 .dot,
.wrapper1 #option-4:checked:checked~.option-4 .dot {
    background: #fff;
}

.wrapper1 #option-1:checked:checked~.option-1 .dot::before,
.wrapper1 #option-2:checked:checked~.option-2 .dot::before,
.wrapper1 #option-3:checked:checked~.option-3 .dot::before,
.wrapper1 #option-4:checked:checked~.option-4 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper1 .option span {
    font-size: 20px;
    color: #808080;
}

.wrapper1 #option-1:checked:checked~.option-1 span,
.wrapper1 #option-2:checked:checked~.option-2 span,
.wrapper1 #option-3:checked:checked~.option-3 span,
.wrapper1 #option-4:checked:checked~.option-4 span {
    color: #fff;
}

#quiz .wrapper2 {
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 15px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.wrapper2 .question {
    font-family: Georgia;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.wrapper2 .option {
    background: #fff;
    height: 50%;
    width: 60%;
    display: flex;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    margin-left: 120px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
}

.wrapper2 .option .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}

.wrapper2 .option .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0069d9;
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.wrapper2 input[type="radio"] {
    display: none;
}

.wrapper2 #option-5:checked:checked~.option-5,
.wrapper2 #option-6:checked:checked~.option-6,
.wrapper2 #option-7:checked:checked~.option-7,
.wrapper2 #option-8:checked:checked~.option-8 {
    border-color: #0069d9;
    background: #0069d9;
}

.wrapper2 #option-5:checked:checked~.option-5 .dot,
.wrapper2 #option-6:checked:checked~.option-6 .dot,
.wrapper2 #option-7:checked:checked~.option-7 .dot,
.wrapper2 #option-8:checked:checked~.option-8.dot {
    background: #fff;
}

.wrapper2 #option-5:checked:checked~.option-5 .dot::before,
.wrapper2 #option-6:checked:checked~.option-6 .dot::before,
.wrapper2 #option-7:checked:checked~.option-7 .dot::before,
.wrapper2 #option-8:checked:checked~.option-8 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.wrapper2 .option span {
    font-size: 20px;
    color: #808080;
}

.wrapper2 #option-5:checked:checked~.option-5 span,
.wrapper2 #option-6:checked:checked~.option-6 span,
.wrapper2 #option-7:checked:checked~.option-7 span,
.wrapper2 #option-8:checked:checked~.option-8 span {
    color: #fff;
}

/*--------------------------------------------------------------
# start
--------------------------------------------------------------*/
.modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 70px;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 570px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.modal-content p {
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-bottom: 180px;
    padding-left: 20px;
}

.modal-content .btn_start {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #47b2e4;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-color: white;
}

.modal-content .btn_start:hover {
    color: white;
    background-color: #0286a7;

}


@media (max-width: 1700px) {
    .modal-content {
        height: 600px;
    }
}

/*--------------------------------------------------------------
# start
--------------------------------------------------------------*/
.time-bg {
    right: 5%;
    padding-top: 100px;
    padding-left: 20px;
    display: none;
    display: flex;
    position: fixed;
}

.time-bg .time-content {
    padding-top: 10px;
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: #808080;
    color: white;
    margin: 0 auto;
}

.time-bg .time-content p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}


