@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
.slideshow {
  width: 100%;
  height: 600px;
  background: #000000;
}

.slideshow .mySlides {
  margin: 100px 150px 100px 150px;
  float: left;
}

.slideshow .mySlides h1 {
  margin: 50px 0 0 150px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.slideshow .mySlides h2 {
  color: rgba(247, 247, 247, 0.6);
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 20px;
  text-align: justify;
}

.slideshow .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 400px;
  color: #fff;
  background: #47b2e4;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
}

.slideshow  .btn-get-started:hover {
  background: #209dd8;
}

.slideshow .mySlides .image {
  margin: 100px 0 10 0;
  float: left;
  width: 550px;
  height: 350px;
  margin-right: 50px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}

@media (max-width: 1092px) {
  #hero {
    height: 700px;
    text-align: center;
  }

  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }

  #hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*--------------------------------------------------------------
# Quiz
--------------------------------------------------------------*/
#quiz {
  background: #eaeaea;
  display: flex;
}

#quiz .content{
  background: #eaeaea;
  width: 100%;
}

#quiz .image {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  width: 340px;
  height: 340px;
  cursor: pointer;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
.modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 1000px;
  height: 600px;
  background-color: #eaeaea;
  border-radius: 10px;
}

.modal-content h1 {
  padding-top: 45px;
  font-size: 35px;
  color: #3e3e3e;
  text-align: center;
}

.modal-content .close {
  position: absolute;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 30px;
  padding-left: 10px;
  font-weight: bold;
}

.modal-content .image {
  margin-left: 52px;
  margin-top: 52px;
  border-radius: 30px;
  width: 180px;
  height: 180px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 2100px) {
  .modal-content {
    height: 600px;
  }
}

